$background-color: #000;
$font-color: #dfdfdf;
$box-color: #808080;
$board-color: #fff;
$border-color: #00f;

body {
  background-color: $background-color;
  color: $font-color;
  display: block;
  margin: 0;
  padding: 0;
}

.navbar {
  background-color: $border-color;
  height: 50px;
  width: 100%;
}

.board {
  background-color: $board-color;
  height: 458px;
  margin: 0 auto;
  width: 458px;
}

.top {
  background-color: $background-color;
  display: inline-block;
  height: 150px;
  width: 150px;
}

.mid {
  background-color: $background-color;
  display: inline-block;
  height: 150px;
  width: 150px;
}

.bot {
  background-color: $background-color;
  display: inline-block;
  height: 150px;
  width: 150px;
}

h1 {
  text-align: center;
}
