$background-color: #123;
$font-color: #dfdfdf;
$score-color: #808080;
$board-color: #fff;
$nav-color: #0e1b29;
$button-color: #657c94;
$button-border: #234567;

body {
  background-color: $background-color;
  color: $font-color;
  display: block;
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
}

.navbar {
  background-color: $nav-color;
  height: 40px;
  width: 100%;
}

.button-container {
  background-color: $background-color;
  height: 60px;
  margin: 0 auto;
  text-align: center;
  width: 200px;
}

.button {
  background-color: $button-color;
  border-radius: 5px;
  display: inline-block;
  height: 35px;
  line-height: 0;
  text-align: center;
  width: 100px;

}

.board {
  background-color: $board-color;
  height: 387px;
  margin: 0 auto;
  width: 387px;
}

.box {
  background-color: $background-color;
  float: left;
  height: 125px;
  margin: 2px;
  width: 125px;
}

.scoreboard {
  background-color: $background-color;
  height: 90px;
  margin: 0 auto;
  padding: 20px 0 0;
  text-align: center;
  width: 300px;
}

.score {
  background-color: $score-color;
  display: inline-block;
  height: 80px;
  margin: 0 5px;
  text-align: center;
  width: 80px;
}
